{% load static%}
<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="msapplication-TileColor" content="#0061da">
		<meta name="theme-color" content="#1643a3">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		{% comment %} <link rel="icon" href="favicon.ico" type="image/x-icon"/> {% endcomment %}
		{% comment %} <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /> {% endcomment %}
		<link rel="shortcut icon" href = {% static "assets/images/hiss/logo.png" %} type="image/png" />

		<!-- Title -->
		{% block pageTitle %}{% endblock %}

		<!-- Dashboard css -->
		<link href= {% static "assets/css/dashboard.css" %} rel="stylesheet" />

		<!-- Font family -->
		<link href= {% static "https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" %} rel="stylesheet">

		<!--C3 Charts css -->
		<link href= {% static "assets/plugins/charts-c3/c3-chart.css"%} rel="stylesheet" />

		<!-- Custom scroll bar css-->
		<link href= {% static "assets/plugins/scroll-bar/jquery.mCustomScrollbar.css"%} rel="stylesheet" />

		<!--Horizontal css -->
        <link href= {% static "assets/plugins/horizontal-menu/dropdown-effects/fade-down.css"%} rel="stylesheet" />
        <link href= {% static "assets/plugins/horizontal-menu/horizontal.css"%} rel="stylesheet" />

		<!-- jvectormap css -->
        <link href= {% static "assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css"%} rel="stylesheet" />

		<link href={% static "assets/plugins/sweet-alert/jquery.sweet-modal.min.css"%} rel="stylesheet" />
		<link href={% static "assets/plugins/sweet-alert/sweetalert.css"%} rel="stylesheet" />

		<!---Font icons css-->
		<link href= {% static "assets/plugins/iconfonts/plugin.css"%} rel="stylesheet" />
		<link  href= {% static "assets/fonts/fonts/font-awesome.min.css"%} rel="stylesheet">

		<!-- Tabs Style css -->
		<link href={% static "assets/plugins/tabs/style.css"%} rel="stylesheet" />

		<link href = {% static "assets/js/table-sortable.css" %} rel="stylesheet" type="text/css" />

		<link href={% static "assets/libs/sweetalert2/sweetalert2.min.css" %} rel="stylesheet" type="text/css" />

			<!-- Accordion css -->
		<link href={% static "assets/plugins/accordion/accordion.css"%} rel="stylesheet" />

		<!-- Notifications  css -->
		<link href={% static "assets/plugins/notify/css/jquery.growl.css"%} rel="stylesheet" />
		<link href={% static "assets/plugins/notify/css/notifIt.css"%} rel="stylesheet" />

		<!-- Date Picker css-->
		<link href={% static "assets/plugins/date-picker/spectrum.css"%} rel="stylesheet" />


		<!--Mutipleselect css-->
		<link rel="stylesheet" href={% static "assets/plugins/multipleselect/multiple-select.css"%}>
		
		<!-- select2 css-->
		<link href={% static "assets/plugins/select2/select2.min.css"%} rel="stylesheet" />

		

		<!-- Data table css -->
		<link href={% static "assets/plugins/datatable/dataTables.bootstrap4.min.css"%} rel="stylesheet" />
		<link href={% static "assets/plugins/datatable/responsivebootstrap4.min.css"%} rel="stylesheet" />

		{% block cssData %}{% endblock %}
		 <!-- Sweet Alerts js -->
			<!-- Data Table-->

		{% comment %} <link href= {% static "assets/plugins/datatable/dataTables.bootstrap4.min.css"%} rel="stylesheet" />
		<link href= {% static "assets/plugins/datatable/responsivebootstrap4.min.css"%} rel="stylesheet" /> {% endcomment %}
		
		
	</head>
	<body class="app sidebar-mini rtl">
		<div style="z-index: 11; position: fixed; top:20%; left:50%; transform: translateX(-50%);" id="liveAlertPlaceholder"></div>

		<!--Global-Loader-->
		<div id="global-loader"></div>

		{% include './header.html' %}
		
	  {% block BodyData %}{% endblock %}



  

		<!-- Index js -->
		{% comment %} <script src={% static "assets/js/index1.js"%}></script> {% endcomment %}

		<!-- Search Js-->
		<script src={% static "assets/js/prefixfree.min.js"%}></script>

		<!-- ECharts js -->
	    <script src= {% static "./assets/plugins/echarts/echarts.js"%}></script>

		<!-- Nvd3 Charts css-->
		<link href={% static "assets/plugins/charts-nvd3/nv.d3.css"%} rel="stylesheet" />

		<script src={% static "assets/libs/sweetalert2/sweetalert2.min.js" %}></script>
		
		<script src= {% static "assets/plugins/sweet-alert/jquery.sweet-modal.min.js"%}></script>
		<script src= {% static "assets/plugins/sweet-alert/sweetalert.min.js"%}></script>
		<script src= {% static "assets/js/sweet-alert.js"%}></script>
		

	

		  
		  </script>

		{% block scriptData %}{% endblock %}

	</body>
</html>