{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" href= {% static "bootstrap/css/tempusdominus-bootstrap-4.min.css"%}>
  <!-- iCheck -->
  <link rel="stylesheet" href= {% static "bootstrap/css/icheck-bootstrap.min.css"%}>
  <!-- JQVMap -->
  <link rel="stylesheet" href= {% static "bootstrap/css/jqvmap.min.css"%}>
  <!-- Theme style -->
  <link rel="stylesheet" href= {% static "bootstrap/css/adminlte.min.css"%}>
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href= {% static "bootstrap/css/OverlayScrollbars.min.css"%}>
  <!-- Daterange picker -->
  <link rel="stylesheet" href= {% static "bootstrap/css/daterangepicker.css"%}>
  <!-- summernote -->
  <link rel="stylesheet" href= {% static "bootstrap/css/summernote-bs4.min.css"%}>
  <!-- Toastr -->
  <link rel="stylesheet" href={% static "bootstrap/css/toastr.min.css"%}>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href= {% static "bootstrap/css/fontawesome/css/all.min.css"%}>
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      {% if message %}
      <div class="alert alert-danger text-center" role="alert"> {% if message %}
          <div>{{ message }}</div>
      {% endif %}</div>
         {% endif %}
    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form action=""method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" class="form-control"  required name="email" placeholder="Email" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" required name="password" placeholder="Password"name="password" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>    
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src={% static "plugins/jquery/jquery.min.js" %}></script>

<!-- jQuery UI 1.11.4 -->
<script src={% static "plugins/jquery-ui/jquery-ui.min.js" %}></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge("uibutton", $.ui.button);
</script>
{% block Script %}{% endblock %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Bootstrap 4 -->
<script src={% static "bootstrap/js/bootstrap.bundle.min.js" %}></script>
<script>
  const URL = 'http://127.0.0.1:8000/';
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
</body>
</html>
